<h1>Select Workstation</h1>
<ul class='left'>
  <li><%= link_to 'Reception', '', :class => 'btn btn-primary' %></li>
  <li><%= link_to 'Patient', '', :class => 'btn btn-primary' %></li>
  <li><%= link_to 'Doctor', '', :class => 'btn btn-primary' %></li>
</ul>
