<h1>Select Workstation</h1>
<ul class='left'>
  <li><%= link_to 'Intake', intakes_path, :class => 'btn btn-primary' %></li>
  <li><%= link_to 'Patient', new_patient_path, :class => 'btn btn-primary' %></li>
  <li><%= link_to 'Doctor', doctors_dashboard_index_path, :class => 'btn btn-primary' %></li>
</ul>
