<div style='height:400px'>
  <h3>Patients Waiting</h3>
  <% cache do %>
    <% @waiting.each do |p| %>
      <%= link_to p.first_name %><br />
    <% end %>
  <% end %>
  <hr />
  <h3>Patients In Room</h3>
  <% cache do %>
    <% @in_process.each do |p| %>
      <%= link_to p.first_name %><br />
    <% end %>
  <% end %>
</div>
