<h1 class="letters" style="font-size:400%; margin-left:180px;">Patient's Status</h1>
<hr />
<div style='height:500px; margin:auto; padding:20px; width:100%;'>
<div style='height:500px; float:left;'>
  <h3 style="padding:0px 30px 0px 0px;">Patients in Waiting Room  </h3>
  <% cache do %>
    <% @waiting.each do |p| %>
      <div class='pat_name'><%= link_to p.first_name+' '+p.last_name, patient_path(p.id), {style: "color: #BDB76B;"} %></div>
    <% end %>
  <% end %><br>
  <hr style="width:95%;"/><br>
  <h3>Patients Checked Out</h3>
  <% cache do %>
    <% @checked_out.each do |p| %>
      <div class='pat_name'><%= link_to p.first_name+' '+p.last_name, patient_path(p.id), {style: "color: #BDB76B;"} %></div>
    <% end %>
  <% end %>
</div>
<div style="height:500px; margin-left: 55%;">
  <h3>Patients in Exam Room</h3>
  <% cache do %>
    <% @in_process.each do |p| %>
      <div class='pat_name'><%= link_to p.first_name+' '+p.last_name, patient_path(p.id), {style: "color: #BDB76B;"} %></div>
    <% end %>
  <% end %>
</div>
</div>
<br />
<div style="align:left; margin-left: 15px;">
  <%= link_to 'Dashboard', dashboard_index_path, :class => 'btn btn-primary active', :style => 'width: 120px;'  %>
</div><br><br>
