<h1>Editing intake</h1>

<%= render 'form' %>

<%= link_to 'Show', @intake, :class => 'btn btn-primary', :style => 'width: 120px;'  %> |
<%= link_to 'Back', intakes_path, :class => 'btn btn-primary', :style => 'width: 120px;'  %>
